* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  scroll-behavior: somth;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 20vw;
  height: 8vmin;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
}

nav p {
  font-size: 3.5vmin;
  font-weight: bold;
  line-height: 10rem;
}
nav p:hover{
  cursor:pointer;
}
.nav_content {
  display: flex;
  list-style-type: none;
  font-size: 2.5vmin;
  gap: 1vw;
  font-weight: bold;
}
.nav_content li:hover{
  cursor:pointer;
  
}
/* head section */
.head_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 20vw;
}
.head_text {
  display: flex;
  flex-direction: column;
}
.head_text h2 {
  font-size: 5vmin;
}
.head_text p {
  color: gray;
  font-size: 4vmin;
}
.head_img img {
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
}

/*  latest_card section*/
.latest_card {
  padding: 2vw 19vw;
}

.border {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(245, 240, 240);
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  border-radius: 10px;
  padding-left: 3vmin;
}

.latest_text {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  padding: 1vmin;
}
.latest_text h3 {
  font-size: 3vmin;
}
.latest_text p {
  font-size: 2vmin;
}
.date {
  display: flex;
  justify-content: space-between;
}
.date a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.latest_img img {
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 1vmin;
  border-top-right-radius: 1vmin;
}

/* card section */
.card {
  display: flex;
  justify-content: space-between;
  padding: 2vw 20vw;
  /* gap:5vmin; */
}
.card_one {
  width: 32%;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(245, 240, 240);
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  border-radius: 2vmin;
}
.card_one img {
  border-top-left-radius: 2vmin;
  border-top-right-radius: 2vmin;
}
.card_content {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  padding: 1.9vmin;
}

.card_one h5 {
  font-size: 3.5vmin;
}
/* hightlight section */
.high {
  padding: 1vw 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.high_text {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 3vmin;
}
.high_text h3 {
  font-size: 3.8vmin;
}
.high_text p {
  font-size: 2vmin;
}
.high_img img {
  border-top-right-radius: 1.2vmin;
  border-bottom-right-radius: 1.2vmin;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 20vw;
  border-top: 1px solid rgb(214, 208, 208);
}
.copyright h3 {
  font-size: 2vmin;
}
footer ul {
  display: flex;
  justify-content: space-between;
  gap: 2vmin;
  list-style-type: none;
  font-size: 3vmin;
}
footer li:hover{
  cursor:pointer;
}


@media (max-width: 1500px) {
  nav {
    padding: 1vmin 4vmin;
  }
  nav P {
    font-size: 5vmin;
  }
  .nav_content {
    gap: 2vw;
    font-size: 3vmin;
  }
  .head_section {
    padding: 5vw 4vw;
  }
  .head_section img {
    width: 35vmin;
    height: 25vmin;
  }
  .latest_card {
    padding: 1vmin 4vmin;
  }
  .latest_text {
    padding: 5vmin 0vmin;
  }
  .latest_text h3 {
    font-size: 4vmin;
  }
  .latest_text p {
    font-size: 2vmin;
    width: 80%;
  }

  .border img {
    height: 35vmin;
    width: 45vmin;
  }

  .card {
    padding: 7vw 4vw;
  }
  .card_content {
    padding: 1vmin 0.6vmin;
  }
  .card_one h5 {
    font-size: 3.5vmin;
  }
  .card_one p {
    font-size: 2vmin;
  }
  .high {
    padding-left: 2vmin;
    padding-right: 4vmin;
    gap: 20px;
  }
  .high_text {
    width: 100%;
  }
  .high_text h3 {
    font-size: 3vmin;
  }
  .high_text p {
    font-size: 1.5vmin;
  }
  .high_img img {
    height: 50vmin;
    width: 60vmin;
  }
  footer {
    padding: 2vmin 6vmin;
  }
}
